@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap");

:root {
    --bg: #282a36;
    /* --bg-answer: rgb(139, 139, 139); */
    /* --bg-answer: rgb(47, 165, 59); */
    --white: #f8f8f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    background: var(--white);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-question,
#select {
    padding: 0.8rem 1rem;
    margin: 0.8rem 2rem;

    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border: 1px solid #ccc;

    border-radius: 0.8rem;
}

#select {
    font-size: 2rem;
    cursor: pointer;
}

.answer-file {
    display: block;
    padding: 0.4rem 1.6rem;
    margin: 0 2rem;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 0.8rem;
    border: 1px solid #ccc;
}

.wrapper {
    position: relative;
    font-family: "Roboto", sans-serif;
    color: var(--white);
}

.questions-box {
    padding: 4rem 6rem;
    width: 100rem;
    min-height: 14rem;

    margin: 1.6rem 0;
    font-size: 2.4rem;
    font-weight: 600;
    background-color: var(--bg);

    border-radius: 1.6rem;
}
.answers-box {
    display: grid;
    grid-template-columns: 50rem 50rem;
}
.answer-item {
    padding: 2rem;
    margin: 2rem 1.6rem;
    min-height: 12rem;

    font-size: 2rem;

    background-color: var(--bg);
    border-radius: 1.6rem;
    cursor: pointer;
}

.next-btn {
    position: absolute;
    right: 2rem;
    bottom: -8rem;

    padding: 1rem 2rem;
    font-size: 2rem;
    color: #282a36;
    outline: none;
    border: none;
    color: var(--white);
    font-weight: bold;
    border-radius: 0.8rem;

    background-color: green;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .main {
        /* background-color: gray; */
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .questions-box {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        width: 96%;
        min-height: 14rem;

        margin: 1.6rem 0;
        font-size: 2rem;
    }
    .answers-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        /* grid-template-columns: 50% 50%; */
        flex-direction: column;
    }

    .answer-item {
        width: 90%;
        padding: 1rem;
        margin: 1rem 0.5rem;
        min-height: 6rem;

        font-size: 1.8rem;
    }
}
